<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875017917221-fe2j9d4bj45u6drro2b38fl0mehm353m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875017917221-fe2j9d4bj45u6drro2b38fl0mehm353m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875017917221-j6smg6tp7cv7vuvulf5a25j86fmabdip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8pLd0bKzpHF9l1PgOgx13bO36WtK6jfw</string>
	<key>GCM_SENDER_ID</key>
	<string>875017917221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-43e52</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-43e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875017917221:ios:62444c82865ea2b93dc0cc</string>
</dict>
</plist>